/*************************************************/
.products {

    &__list {
        @mixin flex;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        flex-wrap: nowrap;
    }
}

.product {
    display: block;
    border: 1px solid $gray;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    padding: 15px;

    &__thumbnail {
        margin: -15px -15px 0;
        padding: 15px;
        background: #ccc;
        position: relative;
        display: block;
    }

    &__img {
        display: block;
        width: 100%;
        height: auto;
    }

    & .favorites {
        position: absolute;
        top: 24px;
        right: 25px;
        font-size: 30px;
        color: $gray;
        width: 30px;
        height: 30px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        padding: 0;
        background: transparent;

        &:before, &:after {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.3s ease;
        }

        &:before {
            content: "\f005";
            color: $white;
        }

        &:after {
            content: "\f006";
            z-index: 2;
        }

        &:hover:before {
            color: $nav-bg-hover;
        }

        &:focus:before,
        &:active:before,
        &_active:before {
            color: $nav-bg-active;
        }
    }

    &__title {
        margin-bottom: 0;
        font-size: 2.6rem;
        padding: 15px 0;
    }

    &__inner-title {
        color: $gray-dark;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
    }

    &__btn {
        font-size: 2rem;
        width: 100%;
        margin: 20px 0 0;
    }

    &__price {

        &_new {
            margin-right: 20px;
            color: $nav-bg-current;
        }

        &_old {
            color: $btn-disabled;
            font-style: italic;
        }

        &_not {
            color: $btn-default;
            font-style: italic;
        }
    }
}

.swiper-wrapper {
    width: auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

  &_not, &_old {
      display: none;
  }
}

.swiper-button-next, .swiper-button-prev {
    display: block;
    position: relative;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    width: auto;
    line-height: 40px;
    padding: 0 20px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-nav {
    @mixin flex;
    justify-content: space-between;
    margin: 30px 0;
}

@media (min-width: 550px) {
    .products__list {
        flex-wrap: wrap;
    }

    .swiper-nav {
        display: none;
    }
}
